*{
	padding: 0px;
	margin:0px;
	font-family:'Quicksand';
}
/* Style the placeholder text to be capitalized */
::placeholder {
    text-transform: capitalize;
}
.text {
  font-weight: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
}

li{
	margin-left: 10px;
}
a{
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
}
label{
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
p{
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
textarea{
	width: 100%;
}
.legal-doc-style{
	color: #27276c!important;
}
.legal-doc-style:hover{ 
	color: #ccc;
}
body{
	background: #f7f8fa!important;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
input[type="text"]:disabled{
    background: #ccc;
}
.white-container{
background-color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 15px;
padding: 15px;
margin-bottom: 25px;
}
.boarder-blue{
	border: 1px solid whitesmoke;
}
h1,h2,h3,h4,h5,h6,p,label,a{
font-family: 'Quicksand';
}
h1{
font-weight: 600;
font-size: 25px;
text-transform: uppercase;
}
h5{
font-family:'Quicksand';
font-style: normal;
font-weight: bold;
font-size: 18px!important;
line-height: 22px;
align-items: center;
text-transform: capitalize;
}
.p-18{
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 18px;
}
.p-8{
font-family:'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 11px;
color: #4b4a4a;;
}
.p-10{
	font-family:'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 11px;
color: #4b4a4a;;
}
.p-12{
font-family:'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #4b4a4a;;
}
.p-14{
font-family:'Quicksand';
font-style: normal;
font-weight:400;
font-size: 16px;
line-height: 18px;
color: #4b4a4a;;	
}
.p-14-n{
font-family: 'Quicksand';
font-style: normal;
font-weight:normal;
font-size: 16px;
line-height: 18px;
color: #4b4a4a;;	
}
.l-12{
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
align-items: center;
text-transform: capitalize;
color: #363A3C;
}
.l-14{
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
align-items: center;
text-transform: capitalize;
color: #363A3C;
}
.l-16{
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
align-items: center;
text-transform: capitalize;
color: #363A3C;
}
.l-18{
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;	
}
.l-18-n{
font-family: 'Quicksand';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;	
}
.l-24{
font-family: 'Quicksand';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 27px;
text-transform: capitalize;	
}

.l-36-n{
font-family: 'Quicksand';
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 38px;
text-transform: capitalize;	
}
.text-purple{
	color: #E4186D;
}
.mt-7{
	margin-top: 70px;
}
.b-white{
background: #fff;
}
.bton{
border-radius: 9px;
font-family: 'Quicksand';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color:#fff;
text-transform: uppercase;
padding:9px;
border:none;	
}
.addbton{
border-radius: 15px;
font-family: 'Quicksand';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color:#fff;
text-transform: capitalize;
padding:2px 10px 3px;
border:none;
}
.addbton img{
	margin-right: 5px;
}
.bton:disabled{  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.bton:disabled:hover{  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
@media (max-width: 400px)
{
	.bton{
		font-size: 12px;
	}
}
.btn:hover{
border:none;
}
.btn.active{ 
border:none;
}
.btn1{
background-color:#e4186d;
transition: ease-out 0.3s;

}
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
background: #4848bc;
color: #fff;
border: 0px solid #e4186d;
background: 0px width;	
}
.btn::before{
	width: 0px;
}
.btn2{
background: #27276c;
}
.btn3{
background-color: #1F58A4;
}
.btn4{
background-color: #EEEEF1;
color: #27276C;
}
.toggle-btn{
width: 44px;
height:40px;
border-radius: 10px;
border: 1px solid #27276c;
float: right;
text-align: center;
margin-top: 18px;
margin-left: 20px;
padding: 6px;
cursor: pointer;
display: none;
}
.toggle-btn:hover{
border: 1px solid #e4186d;	
}
.toggle-btn .line{
height: 5px;
width: 30px;
background: #27276c;
margin-bottom: 5px;
}
.w-8{
width: 80%;
margin: 0 auto;
background: #C6C6F8;
margin-bottom: 10px;
}
.disclamerf{
}
.disclamerf img{
	margin-right: 10px;
}
.disclamerf label{
	color: #000;
}
.header{
	width: 100%;
	height:77px;
	background: #fff;
	position: fixed;
	top:0;
	z-index: 9;
}
.header-content{
margin-left: 100px;
margin-right: 100px;
display: block;
}

.logo{
	height: 55px;
	width:237px;
	line-height: 77px;
	text-align: center;
	margin-top: -2px;
	float: left;
}
.logo-img1{
    width:176px;

}
.logo-img2{
width:60px;
height: 60px;
float: left;
margin-top: 12px;
display: none;
}
.right-cont{
	float: right;
	
}
.links{
float: right;
text-align: center;
line-height: 77px;
margin-top: -15px;
margin-right: 10px;
}
.links ul{
list-style: none;

}
.links ul li{
float: left;
margin-right:30px;
}
.links ul li a{
text-decoration: none;
color:#000;
transition: 1s;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
}
.links ul li a:hover
{
	color: #4848bc;
}
.header-btn{
	float: right;
	margin-top: 22px;
}
/*Footer*/
footer{
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
background: #fff;
height:60px;
line-height: 50px;
z-index: 3;
}
.sidebar{
transition: ease 0.6s;
}
@media (max-width: 800px){
.links{
float:right;
width: 100%;
display: none;
}
.links.active{
display: block;
}
.sidebar{
	width: 250px;
	height:auto;
	background-color: #fff;
	text-align: center;
	margin-top: 37px;
	margin-left: 0px;
	transition: ease-out 0.3s;
}
.sidebar ul{
	flex-direction: column;
}
.sidebar ul li{
	float:none;
	margin-bottom: 5px;
	margin: 5px;
}
.sidebar ul li:hover{
	background: whitesmoke;
}

}
.right-cont .btn{
	margin-top: 22px;
	text-align: center;
}
.user-pic-d{
border-radius: 50%;
width:35px;
height:35px;
background: #fff;
border: 1px solid #E4186D80;
float: right;
line-height: 32px;
text-align: center;
margin-top: 20px;
cursor: pointer;
}
.user-pic-d img{
width: 100%;
height: 100%;
border-radius: 50%;
vertical-align: unset;
color: whitesmoke;
}
#land-page{
width:100%;
height: 100%;
background: url(../img/background-pic.jpg) no-repeat;
background-size: cover;
background-position: center;
object-fit: cover;
position: fixed;
}
@media only screen and (max-width: 600px){
#land-page{
	overflow-y: scroll;
}
#land-page::-webkit-scrollbar{
	width: 0;
	height:0;
}
}
.content{
		margin-right: 20px;
	margin-left: 15px;
}
#container-blur{
  position: absolute;
  overflow: hidden;
  border-radius: 39px;
  background: rgba(255, 255, 255, 0.01) !important;
  backdrop-filter: blur(50px);
  margin-left: -10px;
}
#container-blur h1{
}


.landing-content{
padding: 25px;
transition: 3s;
/*setting alpha = 0.1*/

border-radius: 20px;
}
.my-container{
padding:150px;
margin-bottom: 50px;
animation: smoothLoad 0.85s;
}
.my-container2{
padding:30px 150px 150px;
margin-bottom: 10px;
animation: smoothLoad 0.85s;
}

.insight-content{

	background: #fff;
	width: 100%	;
	padding: 0px;
	margin-top: -150px;
	position: relative;
	margin-bottom: 100px;
	animation: smoothLoad 0.85s;
}

.insight-content ul{
	margin-left: 0;
	padding-left: 0;
}
.insight-content img{
	margin-right: 20px;
}
.insight-content ul li{
	margin-left: 15px;
}
/*page separater for login*/
.right-container{
	width: 50%;
	height: auto;
	min-height: 100%;
	background: #fff;
	position: absolute;
	right: 0;
	padding: 100px 150px 100px 50px; 
	animation: smoothLoad 0.85s;
}
.r-content{
	
}
.left-container{
	width: 50%;
	height: 100%;
	position: absolute;
	background: url(../img/bg_11.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	scroll-behavior: none;
	position: absolute;
	padding: 100px 150px 100px;
	animation: smoothLoad 0.85s;
}
.left-container2{
	width: 50%;
	height: 100%;
	position: fixed;
	background: url(../img/bg-12.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	scroll-behavior: none;
	padding: 100px 150px 100px;
}
@keyframes smoothLoad{
	from{
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to{
		opacity: 1;
		transform: rotateX(0);
	}
}
.l-content{
border-radius:39px ;
padding-left: 15px;
padding-right: 15px;
padding-top:0px ;
background: rgba(255, 255, 255, 0.01);
backdrop-filter: blur(50px);
width: 100%;
height: 100%;
}
.lblur-bg-h1{
	margin-top: 15px;
	color: #fff;
	text-transform: capitalize;
}
.short-line{
	width: 48px;
	height: 8px;
	background: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
}
.form-align{
	padding: 30px;
}
@media only screen and (max-width: 1200px)
{
.right-container{
	width: 50%;

	padding: 100px 100px 100px 50px; 
}
.left-container{
	width: 50%;
	padding: 100px 100px 100px;
}
}

@media only screen and (max-width: 1000px)
{
.insight-content{
	background: #fff;
	width: 100%	;
	padding: 0px;

}
.right-container{
	width: 50%;

	padding: 100px 75px 100px 50px; 
}
.left-container{
	width: 50%;
	padding: 100px 75px 100px;
}
}
@media only screen and (max-width: 900px)
{
.right-container{
	width: 50%;
	padding: 100px 50px 100px 50px; 
}
.left-container{
	width: 50%;
	padding: 100px 50px 100px;
}
}
@media only screen and (max-width: 750px)
{

.right-container{
	width: 50%;

	padding: 100px 10px 100px 50px; 
}
.left-container{
	width: 50%;
	padding: 100px 10px 100px;
}
}
.content-frame{
padding-right: 150px;
padding-left: 150px;
padding-bottom: 50px;
padding-top: 20px;
}
.landing-img{
	
	border-radius: 24px;
	display: none;
}
.landing-img img{
	border-radius: 24px;
	width: 100%;
}
@media only screen and (max-width: 600px){
.landing-img{
	display: none;
}
.p-18{
	font-size: 14px;
}
h1{
	font-size: 24px;
}
.right-container{
	width: 100%;
	height: auto;
	padding: 100px 50px 10px 50px; 
}
.left-container{
	width: 100%;
	padding: 10px 10px 100px;
}
}
@media only screen and (max-width: 400px){

.right-container{
	width: 100%;
	height: auto;
	padding: 100px 10px 10px 10px; 
}
.left-container{
	display: none;
	width: 100%;
	padding: 10px 10px 100px;
}
}

.landing-content{
padding-top: 25px;
transition: 3s;
}
/*webinar*/
.webinar-content details summary{
	list-style: none;
}
.webinar-event-title{
width:100%;
height: auto;
background: url(../img/event-pic.svg) no-repeat;
background-size: cover;
background-position: center;
object-fit: cover;
scroll-behavior: none;
border-radius: 10px;
padding:10px;
margin-bottom: 13px;
cursor: pointer;
}
.webinar-date{
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
color: #828282;
	border-radius: 10px;
	background: #fff;
	width: auto;
	float: right;
	border: none;
	
	padding: 9px;
}
.tabs-btn{
margin-bottom: 13px;
}
.tabLink{
background: gray;
}
.tabLink:hover{
background: #5EC0E2;
color: #fff;

}
.tabLink.activ{
background: #5EC0E2;
color: #fff;
border:none;
}
.webinar-content{

}
.web-frame{
	width: 100%;
height: auto;
background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
cursor: pointer;
}
.web-content{
	margin-top: 15px;
	display: flex;
}
.web-date{
	position: absolute;
	margin-top: 50px;
}
.web-title{
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.webinar{
width: 100%;
height: auto;
background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 10px;
padding: 10px;
display: flex;
margin-bottom: 10px;
cursor: pointer;
}
.img-frame{
width: 64px;
height: 64px;
border-radius: 10px;
background-color: #5EC0E2;
float:left;
text-align: center;

}
.img-frame img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.view-more-webinars{
background-color: rgba(0, 0, 0, 0.3);
padding: 5px;
text-align: center;
width: 200px;
border-radius: 10px;
	color: #fff;
	margin-top: 0px;
	position: absolute;
	left:0;
right:0;
margin-left:auto;
margin-right:auto;
bottom: 123px;
}
.view-more-webinars:hover{
	cursor: pointer;
}


.webinar-img{
width: 30px;
height: 30px;
}
.webinar-im{
width: 60px;
height: 60px;
border-radius: 10px;
}
.img-content{
margin: 0px 15px;
}
.webinar-name{
margin-top: 19px;
}
.modal{
float: none;
width: 100%;
align-items: center;
 background: rgba(0, 0, 0, 0.7);
z-index: 800;
}

.webinar-modal{
width:400px;
height:auto;
max-height: 400px;
margin-top: 79px;
margin-bottom: 50px;
background-color: #fff;
padding:10px;
transition: 2s;
border-radius: 10px 10px 10px 10px;
margin-left: auto;
 	margin-right: auto;
}
.edit-modal{
width:580px;
height:auto;
max-height: 400px;
margin-top: 79px;
margin-bottom: 50px;
background-color: #F7F8FA;
padding:15px;
transition: 2s;
border-radius: 10px ;
margin-left: auto;
margin-right: auto;
overflow-y:scroll;
}
.search-modal{
width:95%;
height:auto;
max-height: 100%;
margin-top: 50px;
margin-bottom: 50px;
background-color: #F7F8FA;
padding:15px;
transition: 2s;
border-radius: 10px ;
margin-left: auto;
margin-right: auto;
}
.search-content{
height:60vh;
width: 100%;
background: #F7F8FA;
margin-bottom: 30px;
position: relative;
overflow-y:scroll;
}
.addcandbtn{
	position: fixed;
	bottom: 0;
	z-index: 1;
}
.edit-content{
max-height: 300px;
height:auto;
width: 100%;
background: #F7F8FA;

}
.edit-modal::-webkit-scrollbar{
	width: 0;
	height:0;
}
.search-content::-webkit-scrollbar{
	width: 0;
	height:0;
	background: #27276c;
}
.modalSearch{
	margin-top: 40px!important;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.search-icon{
cursor: pointer;
}
@media (max-width: 600px){
	.edit-modal{
width: 95%;
}
.search-modal{
width: 95%;
}
.edit-content{

width: 100%;

}
}

.upload-pp{
	width: 108px;
	height: 108px;
	cursor: pointer;
	border-radius: 50%;
	margin-top: 10px;
}

input#upload_pp{
display: none;
}
.upload-pp img{
	width: 100%;
}
.upload-frame1{
width: 75%;
height:215px;
background-color: #fff;
border-radius: 10px;
margin-top: 15px;
margin-right: auto;
margin-left: auto;
margin-bottom: 15px;
padding: 8px;
}
.upload-filename{
margin-top: 5px;
}
.p_filename{
	margin-top: 7px;
	margin-left: 10px;
white-space: nowrap;
	max-width: 67%;

text-overflow: ellipsis;
overflow: hidden;

}
.btn-lbl{
	width: 30%!important;
	overflow: hidden;
}
.delete-upload{
margin-top: 5px;
cursor: pointer;
}
.upload-frame{
width: 100%;
height:150px;
text-align: center;
line-height: 150px;
background-color: #C4C4C4;
border-radius: 10px;
margin-top: -5px;
}
.upload-frame input#short_cv{
display: none;
}
.upload-frame input#long_cv{
display: none;
}
.upload-frame img{
text-align: center;
cursor: pointer;
}
.upload_cv:hover{

}

@media only screen and (max-width: 600px){
	.webinar-modal{
	width: 100%;
	}
	.p_filename{
	width: 50%;
}
.btn-lbl{
	width: 40%!important;
	overflow: hidden;
}
}
.webinar-article{
width: 100%;
height: 100px;
background: #FFFFFF;
border: 1px solid #E5E5E5;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
cursor: pointer;
text-align: center;
}
.webinar-title{
width: 100%;
margin-bottom: -15px;
}
.webinar-downloads{
width: 100%;
float: right;
margin-top: -10px;
}
.webinar-rec{
border-radius: 50%;
background: #ECF0F7;
width: 40px;
height: 40px;
float: right;
line-height: 37px;
text-align: center;

}
.webinar-rec img{
width: 25px;
height: 25px;
}
.webinar-pdf{
border-radius: 50%;
background: #ECF0F7;
width: 40px;
height: 40px;
line-height: 37px;
text-align: center;

}
.webinar-pdf img{
width: 25px;
height: 25px;
}
.webinar-pdf-view{
	display: flex;
}
.webinar-pdf-title{
line-height: 40px;
	margin-left: 5px;
}
.blo{
cursor: pointer;
}
.blog-img{
width: 100%;
border-radius: 10px;
}
.blog-img img{
width: 100%;
border-radius: 10px;
}
.blog-img1{
width: 40%;
border-radius: 10px;
}
.blog-img1 img{
width: 100%;
border-radius: 10px;
}
.blog-content label {
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.blog-content {
margin-top: 10px;
width: 100%;
}
.projdesc{
	width: 100%;
}
.projdesc p{
	display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.blog-footer{
	margin-top: 15px;
margin-bottom: -15px;
}
.my-blog{
background-color: #27276c;
width: 35%;
height: 550px;
margin-left: -150px;
margin-top: -150px;
border-radius: 10px 10px 10px 0px;
position: absolute;
}

.blog-details{
z-index: 2;
margin-bottom: 100px;

}
.blog-flex{
	display: flex;
}
.view-blog-detail{
margin-top:100px;
width: 60%;
margin-left: 10px;
}

.blog-document{
width: 100%;
}
/* profile */
.prof-bg{
width:100%;
height: 100vh; 
background: url(../img/banner.jpg) no-repeat;
background-size: cover;
background-position: center;
object-fit: cover;
scroll-behavior: none;
position: fixed;
overflow: scroll;
}

.my-form-frame{
float:right;
background: #F7F8FA;
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
border-radius: 15px;
height:100%;
width: 100%;
}
.my-form{
background: #F7F8FA;
border-radius: 15px;
margin:40px;

}
.input-label{
font-family:'Quicksand';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
/* identical to box height */
color: #363A3C;
text-transform: capitalize;
}
.form-group .cust-input{
background: #FFFFFF;
box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.08);
border-radius: 10px;
height: 44px;
width:100%;
border:none;
padding: 10px!important;
outline: none;
font-size: 14px;
}
.form-group .cust-input1{
background: #FFFFFF;
box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.08);
border-radius: 10px;
height: 44px;
width:88%;
border:none;
padding: 10px!important;
outline: none;
}
.form-group .cell-style{
background: #FFFFFF;
box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.08);
border-radius: 10px;
height: 44px;
outline: none;
border: none;
width: 100%!important;
}
.cell-style.success{
border: 2px solid #09c372!important;
}
.cell-style.error{
border: 2px solid #ff3860!important;
}

.form-group input::placeholder{
line-height: 44px;
font-family: 'Quicksand';
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #999999;
}
.form-group input:focus{
border: 2px solid #515151;
}
.form-group select:focus{
border: 2px solid #ff3860;
}
.cust-select{
	width: 20%!important;
	border-radius: 10px;
}
.form-group.success .cust-input{
border: 2px solid #09c372;
}
.form-group.error .cust-input{
border: 2px solid #ff3860;
}
.form-group .error-message{
color: #ff3860;
font-size: 10px;
line-height: 13px;
}
.form-group .err-mes{
color: #ff3860;
font-size: 10px;
line-height: 13px;
}
.form-group .err-mess{
color: #ff3860;
font-size: 10px;
line-height: 13px;
}
#error_m h5{
color: #000!important;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}
.reg-success{
	display: none;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.cust-checkbox{
height: 20px;
width:20px;
background: #000;
border: 1px solid #999999;
}
.checkbox-lbl{
font-family: 'Quicksand';
font-size: 16px;
line-height: 24px;
margin-left: 10px;
margin-bottom: 10px;
text-align: center;
display: inline;
}
.checkbox-input{
float: left;
display: inline-block;
}
.checkLink{
color: #5EC0E2;
text-decoration: none;
}
.custcheck-lbl{
float: left;
}
/*Checkbox*/
.checkb{
	display: none;
}
.custc{
	
}
.form-header{
margin-top: 15px;
margin-bottom: 15px;
}
.hrder-txt{
font-family: 'Quicksand';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #000000;
}
.page-desc{
	position: fixed;
	bottom : 50px;
	padding: 20px;
}
.page-nam{
width: 50%;
}
.form-titl{
text-align: center;
color: #000000;
margin-top: 25px;
}
/* user header*/
.dropdown {

}
.dropdown:hover .dropdown-content {display: block;}
.drop-down {
 
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 55px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
  padding: 10px;
}

.prof-img{
float: left;
border-radius: 50%;
background: #ECF0F6;
height:50px;
width: 50px;
text-align: center;
cursor: pointer;

}
.prof-img img{
border-radius: 50%;
width: 50px;
height:50px;
}
.prof-det{
float:left;
text-align: center;
margin-left: 10px;
margin-top: -3px;
cursor: pointer;
}
.view-profBtn{
float: none;
display: block;
}
.prof-btn{
width: 100%;
background: #fff;
color: #1F58A4;
border:1px solid #1F58A4;
}
.prof-tab a {
  color: black;
  text-decoration: none;
  display: block;
  margin-top: -5px;

}
.aSet{
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
align-items: center;
text-transform: capitalize;
}
.aL-out{
font-family: 'Quicksand';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
align-items: center;
text-transform: capitalize;
color: #000000;
cursor: pointer;
}
.person-frame{
width: 100%;
height: auto;
padding: 10px;
background: #EEEEFA;

border-radius: 15px;
margin-bottom: 10px;
cursor: pointer;
}
.person-frame2{
width: 100%;
height: 350px;
background: #FFFFFF;
border-radius: 15px;
margin-bottom: 15px;
cursor: pointer;
overflow: hidden;
box-shadow: 1px solid #fff;
}
.person-frame2:hover{
	
}
.rw1{
background: #EEEEFA;
border-radius: 15px 15px 0px 0px;
width: 100%;
padding: 10px;
}
.candnum{
	background: #e4186d;
	border-radius: 0 10px 10px 0px;
	padding-left: 12px;
	padding-right:12px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	line-height: 18px;
	margin-left: -13px;
}
.toprow{
	display: flex;
}
.addcand{
	cursor: pointer;
	border: #27276C 1px solid;
	border-radius: 10px;
	text-align: center;
	padding: 3px;
}
.addcanddis{
	
	border-radius: 10px;
	text-align: center;
	padding: 3px;
	border: 1px solid #27276C;
  
  color: #666666;
}
}
.addcand img{
	margin-top: -5px;
}
.addcand:hover{
	transform: scale(1.1);
}
.addcanddis img{
	margin-top: -5px;
}
.addcanddis:hover{
	transform: scale(1.0);
	}
.pers-det{
margin-bottom: -10px;
text-align: left;
width: 100%;
}
.talent-blue-header{
height:174px;
background: #27276c;
width: 100%;
border-radius: 0px 0px 30px 0px;
animation: smoothLoad 0.85s;
}
.add-h{ 
	height:217px;
}
.prof-container{
padding: 130px 150px 50px 150px;
}
@media (max-width: 1100px)
{
.header-content{
margin-left: 50px;
margin-right: 50px;
display: block;
}
.prof-container{
padding: 100px 50px 50px 50px;
}
.logo{

width:55px;
}

.logo-img2{
display: none;
}
.my-container{
padding:50px;
}
.content-frame{
padding-right: 50px;
padding-left: 50px;
}
.insight-content{
	background: #fff;
	width: 100%	;
	padding: 0px;
}
.insight-content li{
margin-left: 20px;
}

.blog-details{

margin-right: 50px;
}

.view-blog-detail{
margin-top: 10px;
}
.talent-blue-header{
	padding-top: 30px;
}
}
@media only screen and (max-width: 800px)
{
.header-content{
margin-left: 10px;
margin-right: 10px;
display: block;
}
.prof-container{
padding: 100px 10px 100px 10px;
}
.logo{

width:55px;
}
.logo-img1{
display: none;
}
.logo-img2{
display: block;
}
.my-container{
padding:100px 10px 10px;
}
.content-frame{
padding-right: 10px!important;
padding-left: 10px!important;
}
.toggle-btn{
	display: block;
}
.blog-details{
margin-right: 0px;
height: auto;
}
.view-blog-detail{
margin-top: 10px;
}
.talent-blue-header{
	padding-top: 30px;
}
}
@media only screen and (max-width: 600px){
	.blog-details{

margin-right: 10px;
}
.blog-img1{
	width: 100%;
}
.blog-flex{
	display: block;
}
.my-blog{
	display: none;
}
.view-blog-detail{
	width: 100%;
margin-top: 10px;
}
footer p{
	font-size: 10px!important;
}
}
.profile-info{

}
.personal-info{
text-align: center;
}
.topersinfo{
	text-align: left;
	display: flex;
}
.profinfo{
margin-left: 10px;
}
.edit-tab{
float: right;
width: 20px;
height: 20px;
position: absolute;
right: 30px;
cursor: pointer;
}
.edit-tab img{
width: 100%;
height:100%;
}
.prof-pic{
width: 133px;
height: 133px;
border-radius: 50%;
margin-top: 10px;
padding: 15px;
background: #fff;
}
.prof-pic2{
width: 80px;
height: 80px;
border-radius: 50%;
margin-top: 10px;
}
.other-info{
text-align: center;
display: block;
}
.about-prof{
margin-top: 100px;
width: 100%;
}
.edit-tab2{
background: #ECF0F6;
border-radius: 50%;
width: 40px;
height: 40px;
text-align: center;
position: absolute;
right:25px;
cursor: pointer;
}
.edit-tab2 img{
width: 20px;
height: 20px;
margin-top: 10px;

}
.profile-pic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #E5E5E5;
	margin-left: auto;
	margin-right: auto;
	text-align: center!important;
	cursor: pointer;
}
.profile-pic img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	margin-top: -49px;
}
input#p_pic{
	display: none; 
}
.user-initials{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	margin-top: -86px;
}
.corp-edit{
background: #fff;
padding: 13px;
width: 100%;
height:auto;
border-radius: 15px;
margin-bottom: 10px;
}
.mes-frame{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.success-tick{
	margin-bottom: 30px;
}

.disp-row{
display: flex;
justify-content: space-between;
}
.circle{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #ECF0F6;
	margin-right: 5px;
	text-align: center;
	cursor: pointer;
}
.circle img{
	line-height: 25px;
	width: 12px;
	margin-top: -3px;
}
.lft-text{
	
}

.right-text{
	display: flex;
}
.move-up{
	margin-top:-5px!important;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
background-color: #ffdddd;
border: 1px solid red!important;
}
textarea.invalid{
	background-color: #ffdddd;
	border: 1px solid red!important;	
}
/* Hide all steps by default: */
.tab {
display: none;
}
/* Make circles that indicate the steps of the form: */
.step {
height: 25px;
width: 25px;
margin: 0 2px;
background-color: #27276c;
border: none;
border-radius: 50%;
display: inline-block;
opacity: 0.5;
color: #fff;
cursor: pointer;
}
/* Mark the active step: */
.step.active {
opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #e4186d;
color: #fff;
}
/* Add Row Button*/
.add-row-btn{
	float: right;
	margin-top:0px;
	cursor: pointer;
}
.cont-center{
margin-left: auto;
margin-right: auto;
}
.text-center{
	margin-left: auto;
	margin-right: auto;
}
.file-btn{
width:92%;
height: 44px;
background: #fff;
border: 1px solid #CCCCCC;
box-sizing: border-box;
border-radius: 10px;
display: inline-block;
}
.file-btn input#file-input + label{
background: #5EC0E2;
border-radius: 10px;
width :150px;
height :43px;
 color: #fff;
float: right;
text-align: center;
padding: 7px;
}
.file-btn input#file-input + label:hover{
background: #111;

cursor: pointer;
}

.file-btn input#file-input{
display: none;
}
.file-btn input#file-input1 + label{
background: #5EC0E2;
border-radius: 10px;
width :150px;
height :43px;
 color: #fff;
float: right;
text-align: center;
padding: 7px;
}
.file-btn input#file-input1 + label:hover{
background: #111;

cursor: pointer;
}
.file-btn input#file-input1{
display: none;
}
#file-input:disabled,#file-input1{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.pp-ini{
	width: 133px;
height: 133px;
border-radius: 50%;
border: 1px solid #fff;
background: #e4186d;
padding-top: 55px;
text-align: center;
margin-top: 20px;
font-size: 24px;
color:#fff ;
}
.decre-m-20{
	margin-top: 0;
}
.dele-btn{
	float: right;
	cursor: pointer;
	width: 20px;
}
iframe{
	border-radius: 10px;
	width: 100%!important;
	height: auto!important;
}
.doc-row{
	justify-content: space-between;
	display: flex;
	margin-bottom: -7px;
}
.leg-btn{
	transition: ease-out 0.3s;
}
.leg-btn:hover{
background: #e4186d!important;
}
/*Disable Sign up button*/
#sign_up{

}
#sign_up2{
	display: none;
}
.align-btn{
	margin-top: 30px;
	margin-left:5px;
}
.success_mes{
padding: 13px;
width: 100%;
}
::selection{
  color: #fff;
  background: #664AFF;
}

.talent-search{
	width: 100%;
	height: 70px;
	background: #fff;
	border-radius: 15px;
	margin-bottom: 15px;
	display: flex;
	padding: 10px;
	margin-top: -30px;
}
.s_tal{
	width: 100%;
	position: relative;
}
.s_tal.sactive .autocomplete-search{
 pointer-events: auto;
}
.autocomplete-search{
	width:100%;
	position: absolute;
	max-height: 500px;
	overflow-y: auto;
	background: #fff;
	border-radius: 15px;
	pointer-events: none;
	z-index: 10;
	max-height: 300px;
}
.autocomplete-search li{
	list-style: none;
	cursor: pointer;
	line-height: 30px;
  cursor: default;
  display: none;
}
.autocomplete-search li:hover{
	background: #efefef;
}

.talent-search input{
	height: 100%;
	border-radius: 15px;
	width: 100%;
	border: none;
	outline: none;
}
.s_tal.sactive .autocomplete-search li{
display: block;
}
.talent-search img{
	width: 24px;
	margin-left: 10px;
	margin-right: 10px;
	
}
.search-btn{
	padding: 10px 25px;
}
.search-btn:hover{
background: #17a2b8;
}
.subscription{
	color: #17a2b8;
}
.zoom-div{
		transition: transform 0.3s;
}
.zoom-div:hover{
	transform: scale(1.1);
	border: 2px solid #27276C;
}
.package-frame{
	margin-bottom: 10px;
}
.package-frame:hover{
}
.p-p{
text-align: center;
}
.pack-btn{
	width: 100%;
}
.pack-price{
	color: #000;
	font-family: 'Quicksand';
	font-size: 36px;
	font-weight: 800;
	margin-top: -15px;
}
.pack-name{
	font-size: 24px;
}
.pack-desc{
	margin-left: 10px;
	font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}
.pack-dur{
padding: 5px 25px;
background: #27276C;
border-radius: 15px;
color: #fff;
font-size: 16px;
}
.num-users{
	display: flex;
	justify-content: space-between;
}
.num-user-inp{
	width: 60px;
	background: #FFFFFF;
box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.08);
border-radius: 10px;
height: 44px;
border:none;
padding: 10px!important;
outline: none;
}
/*Style candidate cart*/
.cand-cart{
	margin-top: 20px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	float: right;
	text-align: center;
	background: #ECF0F6;
	margin-right: 10px;
}
.cand-cart img{
	width: 25px;
	height: 25px;
	
}
.num-cand{
	background: #E4186D;
	color: #fff;
	border-radius: 50%;
	width: 20px;
	height:20px;
	text-align: center;
	float: right;
	margin-top: -5px;
	z-index: 9999;
	margin-right: -8px;
	border: 2px solid #fff;
}
.num-cand p{
	margin-top: -1px;
	font-size: 12px;
}
.adduserbtn{
	background: #27276C;
	color: #fff;
	border-radius: 15px;
	padding: 5px;
	border: none;
	font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
outline: none;
}
.adduserbtn img{
	margin-top: -3px;
	margin-right: 5px;
}
.work-types{
	display: flex;
	height: 40px;
	position: absolute;
}
/*prefered work method*/
.pwm{
display: flex;
}
.text-black{
	color: #000!important;
}
.work-type{
margin-right: 15px;
}
.work-type input{
	display: none;
}
/*work preference checkbox*/
.wpc{

}
.wpc-box{
	height: 1.25em;
width: 1.25em;
border-radius: 5px;
border: 1px solid #ccc;
background: #fff;
display: flex;
align-items: center;
justify-content: center;
flex-shrink: 0;
margin-right: 10px;
transition: 0.15s;
color: #fff;
margin-top: -23px;
}
.wpc-box::after{
	content: '\2714';
}
.wpc:checked + .wpc-box{
color: #000;
}
/*work preference label*/
.wpl{
	color: #fff;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	
}
.vr{
	height: 100%;
	width: 3px;
	background: #ccc;
}
/*Basket*/
.my-basket{
	width: 100%;
	border: 2px solid #ccc;
	padding: 13px;
	border-radius: 0px 0px 15px 15px;
	height: 60vh;
}
.checkout{
	width: 100%;

}
.rem-cand{
	text-align: center;
	margin-top: 0px;
	cursor: pointer;
}
/*Tabs*/
.project-tab{
	display: block;
}
.project-tab2{
	display: none;
}
.proj-tab-btn{
	cursor: pointer;
	color:#4b4a4a;;
	width: 100%;
	border-radius:9px 0px 0px 9px;
	line-height: 40px;
	padding-left: 13px;
}
.proj-tab-btn.active{
	background: rgba(0, 0, 0, 0.08);
	color: #000;
	border: 0px solid #fff!important;
}
/*delete project btn*/
.delp{
margin-top: 5px;
margin-right: 8px;
margin-left: 8px;
cursor: pointer;
}
.delproj{
	position: absolute;
	right: 28px;
}
.delJob{
	position: absolute;
	right: 28px;
}
.tab-btn{
width: 32.5%;
}
.tab-btn.active{
	background: #4848bc;
	color: #fff;
}
.tab-btn.act{
	background: #4848bc;
	color: #fff;
}
.tab-content{
	display: none;
}
.tab-content.active{
	display: flex;
}
.ptabsbg{
	border-radius: 9px;
	background: #EEEEFA;
	display: flex;
	justify-content: space-between;
}
.ptabsbg1{
	height: 40px;
	border-radius: 9px;
	margin-bottom: 5px;
	background: #EEEEFA;
	display: flex;
	justify-content: space-between;
	border: unset!important;
}
.ptabsbg1 a{
border: unset!important;
}
.ptabsbg1:hover{
background: rgba(0, 0, 0, 0.08);;
}
#disppasf{
	display: none;
}
.resetp{
	cursor: pointer;
}
.resetp:hover{
	color:#4848bc;
}
.wtype{
	background: #979797;
border-radius: 22px;
color: #fff;
height: 17px;
padding: 0px 5px;
line-height: 17px;
text-align: center;
margin-left: 5px;
font-size: 12px;
}
.skillfrm{
	background:#EEEEFA;
border-radius: 22px;;
border-radius: 22px;
color: #787878;
min-height: 17px;
padding: 0px 5px;
line-height: 17px;
text-align: center;
margin-right: 5px;
font-size: 12px;
}
.roundfrm{
	border-radius: 50%;
	background: #EEEEFA;
	padding: 5px;
	height: 40px;
	width: 40px;
	text-align: center;
}
.roundfrm img{
	width: 100%;
	line-height: 40px;
}
.abtcand{
padding: 13px;	
}
.roleslim p{
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.candidatess{
	display: relative;
}
.candidatess .box{

}
.candidatess .box.hide{
display: none;
}
.candidatess .box.show{
display: block;
animation: show .5s ease;
}
@keyframes show{
		0%{
			opacity: 0;
			transform: scale(0.9);
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
}
/*blue background*/
.blue-bg{
height: 100vh;
background: #27276c;
animation: smoothLoad 0.85s;
margin: 0;
}
.vertical-center {
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 0px;
  margin-top: 10%;
  }
  .rounddiv{
	width: 35px!important;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	background: #ECF0F6;
	margin-right: 10px;
	float: left;
  }
  .rounddiv img{
  	line-height: 35px;
  	margin-top: -4px;

  }
  .bullet{
  	width: 7px;
  	height: 7px;
  	background: #E4186D;
  	border-radius: 50%;
  	margin-right: 10px;
  }
  .s-around{
  	margin: 13px;
  }
  .deluser{
float: right;
width: 20px;
height: 20px;
position: absolute;
right: 30px;
cursor: pointer;
margin-top: -10px;
  }
  .comp-status{
  	background: #63C3A1;
  	color: #fff;
  	border-radius: 15px;
  	padding-left: 5px;
  	padding-right: 5px;
  	line-height: 25px;
  }
  .input-radio{
  	line-height: 23px;
  	text-align: left;
  	display: flex;
  	 margin-right: 20px;
  }
 .radio-btn{
 	width: 20px;
 	height: 20px;
 }
 .r-label{
 	margin-top: 2px;
 	margin-left: 5px;
 }
 #currwork{
 	display: none;
 }
 #prevworkexp{
 	display: none;
 }
.pagination-st{
  margin: 0;
  font-family: sans-serif;
  padding: 25px;
  background: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-btn {
  background: #ddd;
  color: #27276C;
  height: 35px;
  border-radius: 9px;
  border: 1px solid #27276C;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background 0.3s ease;
  margin: 0 3px;
}

.page-btn:first-of-type {
  margin-left: 0;
}

.page-btn:last-of-type {
  margin-right: 0;
}

.page-btn:not([class$="-page"]) {
  width: 35px;
}

.pagination-buttonss{
display: flex;
justify-content: center;
align-items: center;
align-self: flex-end;
margin: 0 auto;
padding-bottom: 15px;
}

.page-btn[class*="-page"] {
  background: #ccc;
  font-size: 0.6em;
  font-weight: 700;
}

.page-btn.active {
  background: #27276C;
  color: #fff;
}

.page-btn[disabled] {
  opacity: 0.3;
}
.upgradediv{
	border: 2px solid #E4186D;
border-radius: 10px;
padding: 13px;
text-align: center;margin-bottom: 15px;
}
.pdiv{
	background: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
}
.pdiv.active{
	border: 2px solid #E4186D;
}
/* */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.closeConsent{
	cursor: pointer;
}
.web-logo{
	width: 100%;
}
.web-logo img{
	max-width: 200px;
}
/*jobs*/
.jobrief{
border-radius: 15px; 
background: #fff;
padding: 13px;
margin-bottom: 10px;
}
.complogo{
	width: 150px;
	border: 1px solid whitesmoke;
	border-radius: 15px 0px 0px 15px;
	padding: 5px;
	margin-right: 10px;
}
.complogo img{
	width: 100%;
}
.complogoup{
	width: 150px;
	background: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;
	height: 150px;
}
.complogoup img{
		width: 150px;
	border-radius: 15px;
	cursor: pointer;
	height: 150px;
}
.complogoup:hover{

}
.logotext{
	color: #000;
	font-size: 16px;
	line-height: 150px;
	cursor: pointer;
}
.jobs-tab{
	display: none;
}
#reset_mes{
	display: none;
}
.footer-widget {
    border: 1px solid #444;
    height: 100%;
    width: 100%;
}
.progress {
      width: 92%;
      height: 20px;
      border: 1px solid #ccc;
      margin-top: 5px;
      border-radius: 5px;
    }
    .progress-bar {
      width: 0%;
      height: 100%;
      background-color: #e4186d;
    }
.sticky-message{

  position: sticky;
  top: 90px;
  z-index: 2;
}
 .preloader-container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 24px;
      vertical-align: middle;
    }

    /* Animation keyframes for the spinner */
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    } 
     .c{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      animation: updown 1.2s ease-in-out infinite;
      animation-delay: calc(0.1s * var(--i));
      transition: all 0.5s;
    }
    @keyframes updown{
      0% {
    transform: scale(3);
  }
  50% {
    transform: scale(1);
  }
    }
    .c1{
      background-color: #27276c;
      
    }
    .c2{
      background-color :#e4186d;
    }
    .c3{
      background-image:linear-gradient(#27276C, #E4186D);
    }
    .c4{
      background-color: #27276c;
    }
    .c5{
      background-color:#e4186d;
    }
    .oneline-limit{
    	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .twoline-limit{
    	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.tab-buttons {
    display: flex;
    background: #f1f1f1;
}

.tab-button {
    padding: 10px 20px;
    border-radius: 9px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: #000;
}
.tab-button.active
{
	background-color: #27276C;
	color: #fff;
}
.tab-content {
    display: none;
    padding: 20px;
   
}

.tab-content.active {
    display: block;
}
